<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="37383Spaceage.55019BF8D032" Version="1.0.0.0" Publisher="CN=71F2E75F-0859-41FA-940D-A479B7D78BEC" />
  <Properties>
    <DisplayName>通貨</DisplayName>
    <PublisherDisplayName>Spaceage</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="通貨" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="WinCurrency" ForegroundText="light" BackgroundColor="#00103F">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>